[Unit]
Description=Node Exporter for nginx metrics
Wants=network-online.target
After=network-online.target
[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter  -nginx.scrape-uri http://localhost:{{ nginx_port }}/nginx_status
Restart=on-failure
[Install]
WantedBy=multi-user.target
